.topbar {
    width: 100%;
    background-color: black;
    height: 20%;
    background: #111;
    position: sticky;
    /* background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1); */

}

.topbarWrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
}

.topbarLeft {
    display: flex;
    min-height: 15%;
    /* background-color: #bc1888; */
    justify-content: space-evenly;
    align-items: center;
    flex: 8;
}
.instaLogo{
    color: white;
}
.itemList {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    color: white;
}

.items {
    margin-right: 9%;
    cursor: pointer;
}

.searhBar {
    border-radius: 4px;
    margin-left: 20%;
    height: 110%;
    width: 45%;
    color: black;
    /* margin:2px; */
    margin-right: 3%;
    padding: 2px;

}

.searhBar:focus {
    outline: none;

}

.topbarRight {
    flex: 4;
    display: flex;
    /* background-color: green; */
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.profileIcon {
    height: 2.5vw;
    width: 2.5vw;
    background: white;
    border-radius: 50%;
}
.notification {
    background-color: #111;
    color: white;
    text-decoration: none;
    padding: 5px 6px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background:#555
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }